/*// STYLE.SCSS */
/*When declaring fonts, you need to put the font-family NAME in quotes.*/
/*Also when declaring multiple fonts, if you give the same font family name to all of it's styles, and then change the
font-weight and font-style to each correspoding weight/style (found in the file name of the font
you can style the font family easier*/
/*I fixed two of your fonts below, but you'll want to change it in your actual linked css file, and
try it out with the other two below!
You will also need to rifle through your css to where you have declared elements to have a font-family, and then
change that to the font-family name we just declared below!
let me know if you need any help!*/
@font-face {
font-family: 'Open Sans';
src: url(opensans-bold-webfont.eot);
src: url(opensans-bold-webfont.eot?#iefix) format("embedded-opentype"), 
url(opensans-bold-webfont.woff2) format("woff2"), 
url(opensans-bold-webfont.woff) format("woff"), 
url(opensans-bold-webfont.ttf) format("truetype"), 
url(opensans-bold-webfont.svg#open_sansbold) format("svg");
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Open Sans';
src: url(opensans-bolditalic-webfont.eot);
src: url(opensans-bolditalic-webfont.eot?#iefix) format("embedded-opentype"), url(opensans-bolditalic-webfont.woff2) format("woff2"), url(opensans-bolditalic-webfont.woff) format("woff"), url(opensans-bolditalic-webfont.ttf) format("truetype"), url(opensans-bolditalic-webfont.svg#open_sansbold_italic) format("svg");
font-weight: bold;
font-style: italic;
}
/* Change these two below! */
@font-face {
font-family: 'open_sanslight';
src: url(opensans-light-webfont.eot);
src: url(opensans-light-webfont.eot?#iefix) format("embedded-opentype"), url(opensans-light-webfont.woff2) format("woff2"), url(opensans-light-webfont.woff) format("woff"), url(opensans-light-webfont.ttf) format("truetype"), url(opensans-light-webfont.svg#open_sanslight) format("svg");
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'open_sanslight_italic';
src: url(opensans-lightitalic-webfont.eot);
src: url(opensans-lightitalic-webfont.eot?#iefix) format("embedded-opentype"), url(opensans-lightitalic-webfont.woff2) format("woff2"), url(opensans-lightitalic-webfont.woff) format("woff"), url(opensans-lightitalic-webfont.ttf) format("truetype"), url(opensans-lightitalic-webfont.svg#open_sanslight_italic) format("svg");
font-weight: 400;
font-style: normal;
}
.container, .font, .news-articles a, .site-foot {
font-family: opensans;
font-weight: 400;
font-style: normal;
font-size: 16px;
}
.all-articles, .center, .container, .head-small, .text {
display: flex;
justify-content: center;
}
body {
background-color: #000;
color: #FFF;
font-size: 16px;
max-height: 100%;
padding: 0;
}
.container {
margin: 0 auto;
padding: 0 2rem;
width: 100%}
.head-small {
flex-direction: column;
align-items: center;
text-align: center;
height: auto;
padding: 0;
font-size: .8rem;
margin: 30px 0 40px;
}
@media (min-width:600px) {
.head-small p {
font-size: .9rem;
}
.head-small {
flex-direction: row;
margin: 20px 40px 20px 0;
}
}@media (min-width:1000px) {
.head-small {
justify-content: flex-start;
font-size: 1rem;
padding-left: 30px;
}
}.head-large {
height: 85%;
align-items: center;
flex-direction: column;
font-size: .8rem;
text-align: center;
padding: 0;
}
@media (min-width:600px) {
.head-large p {
padding: 10px 0;
}
.head-large {
flex-direction: row;
text-align: left;
font-size: .9rem;
}
}@media (min-width:1000px) {
.head-large {
justify-content: flex-start;
font-size: 1rem;
padding-left: 30px;
}
}.logo-small {
height: 150px;
max-width: 100%}
@media (min-width:600px) {
.logo-small {
height: 70px;
}
.dropdown {
padding-left: 50px;
}
}.logo-large {
height: auto;
max-width: 100%}
@media (min-width:1000px) {
.dropdown {
padding-left: 80px;
}
}.loader-gif {
display: flex;
justify-content: center;
}
.loading {
display: none;
height: 50px;
margin: 0 auto;
}
.news-articles {
padding: 0;
margin-bottom: 30px;
}
@media (min-width:600px) {
.news-articles p {
font-size: .9rem;
}
.news-articles {
display: flex;
justify-content: space-around;
width: 100%;
flex-wrap: wrap;
margin: 0 auto;
}
}.all-articles {
height: 420px;
width: 100%;
display: flex;
align-items: flex-end;
background-position: center center;
background-size: cover;
}
@media (min-width:600px) {
.all-articles {
flex: 0 1 33.33%;
max-width: 33.33%}
}@media (min-width:1000px) {
.news-articles p {
font-size: 1rem;
}
.all-articles {
flex: 0 1 25%;
max-width: 25%}
}.text {
width: 100%;
background: rgba(0, 0, 0, .65);
padding: .5rem;
}
.all-caps {
text-transform: uppercase;
}
.site-foot {
height: 15%;
text-align: center;
color: #c2c2c2;
font-size: .9rem;
padding: 0;
}
@media (min-width:600px) {
.site-foot {
padding-top: 30px;
}
}@media (min-width:1000px) {
.site-foot {
display: flex;
justify-content: flex-start;
padding-left: 30px;
}
}
